/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-message{
    background-color:rgba(255, 0, 0, 0.6);
    color:white;
  }
  
  .sucess-message{
    background-color:#313d9c;
    color:white;
  }
